.idea/
source/Application/obj/
source/Application/bin/
source/Infrastructure/obj/
source/Infrastructure/bin/
source/Domain/obj/
source/Domain/bin/
source/API/obj/
source/API/bin/
Tests/UnitTests/obj/
Tests/UnitTests/bin/
CodeChallenge.sln.DotSettings.user